<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Solotov - ICON-->
    <link rel="shortcut icon" href="../assets/img/solotov.png" type="image/x-icon">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <!-- Costum CSS-->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="../assets/fontawesome/css/font-awesome.min.css">
    <title>Solotov</title>
  </head>
  <body>
    
    <div id="menu">
      <section class="header">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-menu">
          <a class="navbar-brand" href="#">
            <img src="../assets/img/solotov.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="logo"><b>Solotov</b></span>
          </a>
        </nav>
      </section>
      <section class="container mt-2">
        <div class="card mb-3">
            <div class="row text-center">
              <div class="col-md-4">
                <img src="../assets/img/game.gif" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="alert alert-danger mb-1 py-1 px-1 text-center" id="messageBox" style="display: none;"></div>
                  <h5 class="card-title text-center" id="messageTitle">Disciplina</h5>
                  <form name="formLogin" autocomplete="off">
                    <!-- Usuario -->
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="menuSelect"></select>
                    </div>
                    <!-- Iniciar sessão -->
                    <div class="form-group btn-container mb-2">
                      <button class="btn login_cover btn-block" id="BtnStart"><i class="fa fa-sign-in fa-lg fa-fw"></i>Iniciar Jogo</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>

    <!-- Essential javascripts for application to work-->
    <script src="../assets/js/jquery-3.5.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/plugins/menu.js"></script>
</body>  
</html>

